<p id="notice"><%= notice %></p>


<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<br>
Plays
<br>
<% @games.each do |g| %>
	<%= g.game_name %>
	<ul>
	<% @plays.each do |p| %>
		<% if p.game_id == g.id %>
			<li> Score: <%= p.score %> </li>
		<% end %>
	<% end %>
	</ul>
<% end %>