<p id="notice"><%= notice %></p>

<h1>
  <%= @game.game_name %>
</h1>
<div class="gameBox">
	<div id="gameDiv">
	</div>
	<br>
</div>

<div class="gameBox">
	<h2>Description</h2>
	<%= @game.description  %>
	<h2><%= @game.game_name %> Leaderboard </h2>
	<ol>
		<% @game.highscore.each do |play| %>
			<li> <%= play.user.name || play.user.username %>, <%= play.score %> </li>
		<%	end %>
	</ol>
</div>
<br>

<script type="text/javascript">
		var score = 0 
		var gameID = <%= @game.id %>;
		var gameName = "<%= @game.game_name %>";
		if (gameName == "Jumpy Cat") {
			jumpycatGame();
		} else if (gameName == "Jumpy Cat EXTREME") {
			jumpycatExtremeGame();
		} else if (gameName == "Kittenstein") {
			kittensteinGame();
		} else if (gameName == "Mouse Shooter") {
			mouseShooterGame();
		}
</script>
<br>
<br>