<p id="notice"><%= notice %></p>

<p>
  <strong>Game name:</strong>
  <%= @game.game_name %>
</p>

<div id="gameDiv">
</div>

<ol>
	<% @game.highscore.each do |play| %>
		<li> <%= play.user.name || play.user.username %>, <%= play.score %> </li>
	<%	end %>
</ol>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<script type="text/javascript">
		var gameID = <%= @game.id %>;
		var gameName = "<%= @game.game_name %>";
		if (gameName == "Jumpy Cat") {
			jumpycatGame();
		} else if (gameName == "Jumpy Cat EXTREME") {
			jumpycatExtremeGame();
		} else if (gameName == "Kittenstein") {
			kittensteinGame();
		} else if (gameName == "Mouse Shooter") {
			mouseShooterGame();
		}
</script>